@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
:root{
    --darkerCyan: hsl(158, 36%, 18%);
    --darkCyan: hsl(158, 36% ,37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0,0%, 100%);
    --fwBold: 700;
    --bRadius: 0.5rem;
    --biggerBRadius: 0.75rem;
}
/*lines 10-40 are a CSS reset that I took from https://www.joshwcomeau.com/css/custom-css-reset/ and modified it just a tiny bit*/
/*
1. Use a more-intuitive box-sizing model.
2. Remove default margin
*/
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*
Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*5. Improve media defaults*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    
}
/*6. Remove built-in form typography styles*/
input, button, textarea, select {
    font: inherit;
}
/*7. Avoid text overflows*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*--------------------------------------------------------*/
/*the class below is for visually hidden but accessible for screen readers elements.
I took it from https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
after watching Kevin Powell's video (https://www.youtube.com/watch?v=B2WL6KkqhLQ) on this challenge*/
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

/*utility flex class*/
.u-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    flex-direction: column;
    height: 100vh;
    background: var(--cream);
    font-size: 0.875rem;
    color: var(--darkGrayishBlue);
    font-family: Montserrat, sans-serif;
}

picture>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card{
    margin: 1.5rem 1rem;
    background: var(--white);
    overflow: hidden;
    border-radius: var(--bRadius);
}

.product-info{
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
}

.product-subtitle{
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.35em;
}

.product-info>h1{
    color: var(--veryDarkBlue);
    font-family: Fraunces, serif;
    font-size: 2rem;
    line-height: 1;
}

.prices-container{
    justify-content: flex-start;
    gap: 1rem;
}

#current-price{
    font-family: Fraunces, serif;
    font-size: 2rem;
    color: var(--darkCyan);
}

#original-price{
    text-decoration: line-through;
}

.cart-button{
    background: var(--darkCyan);
    cursor: pointer;
    border-radius: var(--bRadius);
    font-weight: var(--fwBold);
    border: none;
    color: var(--white);
    padding: 1rem 0;
    gap: 0.65rem;
    transition: all 0.2s;
}

.cart-button:hover, .cart-button:focus{
    background: var(--darkerCyan);
    box-shadow: 0 0 2.5px black;;
}

footer{
    margin-top: -1.5rem;
}

.attribution{ 
    font-size: 0.5rem; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

/*desktops design*/
@media only screen and (min-width: 675px){
    .product-card{
        display: grid;
        max-width: 40%;
        max-height: 60%;
        grid-template-columns: repeat(2, 1fr);
        border-radius: var(--biggerBRadius);
    }

    .product-info{
        padding: 2rem;
    }

    .product-subtitle{
        letter-spacing: 0.5em;
    }

    .product-info>h1{
        font-size: 2.25rem;
    }

    .cart-button{
        padding: 0.5rem 0;
    }

    footer{
        position: fixed;
        bottom: 10px;
    }

    .attribution{
        font-size: 0.75rem;
    }
}