@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
:root{
    --darkerCyan: hsl(158, 36%, 15%);
    --darkCyan: hsl(158, 36% ,37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0,0%, 100%);
}
html{
    font-size: 14px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--cream);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
}
/* the main container styles */
main{
    width: 90vw;
    height: 90vh;
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
}
picture>img{
    height: 40%;
    width: auto;
    object-fit: cover;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/* the white bg section */
.main-section{
    padding: 7.5px 20px;
    display: flex;
    flex-direction: column;
}
.main-section > *:not(:last-child){
    margin-bottom: 1.25rem;
}
h1{
    font-family: Fraunces, serif;
    font-size: 2.25rem;
    line-height: 2.25rem;
    color: var(--veryDarkBlue);
}
.product-subtitle{  /* PERFUME text */
    letter-spacing: 0.35rem;
    font-size: 0.85rem;
    text-transform: uppercase;
}
.product-subtitle, .description, #old-price{
    color: var(--darkGrayishBlue);
}
.prices{
    display: inline;
}
.prices-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
#current-price{
    font-size: 2.5rem;
    color: var(--darkCyan);
    font-family: Fraunces, serif;
}
#old-price{
    text-decoration: line-through;
    font-size: 0.9rem;
}
button{
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 15px 0 15px 0;
    border-radius: 10px;
    border: 0;
    background: var(--darkCyan);
    color: var(--white);
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button:hover{
    background: var(--darkerCyan);
    box-shadow: 0 0 2.5px black;
}
.attribution{ 
    font-size: 0.75rem; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
footer{
    position: absolute;
    bottom: 10px;
}
/*small width tablets*/
@media only screen and (max-width: 600px) and (min-width: 450px){
    html{
        font-size: 18px;
    }
}
/*large width tablets*/
@media only screen and (max-width:850px) and (min-width: 600px){
    main{
        height: 70vh;
    }
    picture>img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .main-section{
        padding: 2rem;
    }
    .main-section > *:not(:last-child){
        margin-bottom: 25px;
    }
}
/*styles the same for desktops and large tablets*/
@media only screen and (min-width: 600px){
    html{
        font-size: 18px;
    }
    main{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    picture>img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    picture{
        height: 100%;
    }
    .description{
        line-height: 1.75rem;
    }
}
/*desktop*/
@media only screen and (min-width: 850px){
    main{
        width: 45vw;
        height: 65vh;
    }
    .main-section > *:not(:last-child){
        margin-bottom: 35px;
    }
    .main-section{
        padding: 3rem;
    }
}